.customer-policy {
    .transition-hover {
        transition: all 0.2s;

        &:hover {
            border-color: #4f46e5 !important;
            transform: translateY(-4px);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
        }
    }

    .x-small {
        font-size: 0.7rem;
    }
}