.home-wrapper {
  background-color: #fff;
  min-height: 100vh;
  position: relative; 
  z-index: 0; 
  border: 1px solid #f5f5f5;
}

.product-layout {
  display: flex;
  gap: 28px; /* controlled spacing */
  max-width: 1200px;
  margin: auto;
  padding-left: 3rem;
}

/* LEFT */
app-product-gallery {
  flex: 0 0 58%;
}

/* RIGHT */
app-product-info {
  flex: 0 0 42%;
}

@media (max-width: 768px) {
  .product-layout {
    flex-direction: column;
  }

  app-product-gallery,
  app-product-info {
    flex: 0 0 100%;
  }
}

