.addToCart-wrapper {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  min-height: 93vh;
  position: relative; 
  z-index: 0; 
}

.suggestion-product {
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

