<div class="sidebar-inner">
  <div class="logo">
    <h2>Easy Finora</h2>
  </div>

  <div class="menu-sections">
    <div *ngFor="let section of menuSections" class="menu-section">
      <div class="section-title">{{ section.title }}</div>
      <ul class="menu">
        <li *ngFor="let item of section.items" [routerLink]="item.route" class="menu-item">
          <span class="icon">{{ item.icon }}</span>
          <span class="label">{{ item.label }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>