<div class="sidebar-inner" style="overflow-y: auto; height: 100vh; padding-bottom: 2rem;">


  <div class="menu-list">
    <ng-container *ngFor="let section of menuSections">
      <div *ngFor="let item of section.items" [routerLink]="item.route" class="menu-item" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: item.route === '/dashboard'}">
        <!-- Exact match for dashboard usually needed to avoid always active -->
        <span class="icon">{{ item.icon }}</span>
        <span class="label">{{ item.label }}</span>
      </div>
    </ng-container>
  </div>
</div>